<!-- Changed mx-w-full to w-full -->
<div class="overflow-x-auto m-4">
  <table class="table-auto w-full border-collapse shadow-lg rounded-lg">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="px-4 py-2 text-left">Id</th>
        <th class="px-4 py-2 text-left">Title</th>
        <th class="px-4 py-2 text-left">Author</th>
        <th class="px-4 py-2 text-left">ISBN</th>
        <th class="px-4 py-2 text-left">Publish Date</th>
        <th class="px-4 py-2 text-left">Category</th>
        <th class="px-4 py-2 text-left">Age</th>
        <th class="px-4 py-2 text-left">Price</th>
        <th class="px-4 py-2 text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Show Filtered Books if searchQuery is not empty -->
      <ng-container *ngIf="searchTerm.trim().length > 0; else allBooks">
        <tr *ngFor="let book of filteredBooks; let i = index">
          <td class="px-4 py-2 text-left">{{ book?.id }}</td>
          <td class="px-4 py-2 text-left">{{ book?.title }}</td>
          <td class="px-4 py-2 text-left">{{ book?.Author?.name }}</td>
          <td class="px-4 py-2 text-left">{{ book?.isbn }}</td>
          <td class="px-4 py-2 text-left">
            {{ book?.publishDate | date : "dd-MM-yyyy" }}
          </td>
          <td class="px-4 py-2 text-left">{{ book?.Category?.name }}</td>
          <td class="px-4 py-2 text-left">
            {{ calculateBookAge(book?.publishDate) }}
          </td>
          <td class="px-4 py-2 text-left">{{ book?.price }}</td>
          <td class="px-4 py-2 text-left">
            <div class="flex items-center space-x-2">
              <button
                class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-3 rounded"
                (click)="editBook(i)">
                Edit
              </button>

              <button
                class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded"
                (click)="deleteBook(i)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </ng-container>

      <!-- Show API Books & User Added Books when search is empty -->
      <ng-template #allBooks>
        <!-- Display User Added Books -->
        <tr *ngFor="let book of books; let i = index">
          <td class="px-4 py-2 text-left">{{ book?.id }}</td>
          <td class="px-4 py-2 text-left">{{ book?.title }}</td>
          <td class="px-4 py-2 text-left">{{ book?.Author?.name }}</td>
          <td class="px-4 py-2 text-left">{{ book?.isbn }}</td>
          <td class="px-4 py-2 text-left">
            {{ book?.publishDate | date : "dd-MM-yyyy" }}
          </td>
          <td class="px-4 py-2 text-left">{{ book?.Category?.name }}</td>
          <td class="px-4 py-2 text-left">
            {{ calculateBookAge(book?.publishDate) }}
          </td>
          <td class="px-4 py-2 text-left">{{ book?.price }}</td>
          <td class="px-4 py-2 text-left">
            <div class="flex items-center space-x-2">
              <button
                class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-3 rounded"
                (click)="editBook(i)">
                Edit
              </button>

              <button
                class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded"
                (click)="deleteBook(i)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <div class="mt-6">
    <button
      class="btn w-full text-white font-semibold py-3 rounded-md shadow-md bg-gradient-to-r from-blue-400 to-purple-600 hover:from-blue-500 hover:to-purple-700 focus:ring-2 focus:ring-blue-500"
      (click)="navigateToBookForm()">
      Add More Book
    </button>
  </div>
</div>
