<app-navbar></app-navbar>
<div class="bg-gray-100 text-gray-800">
  <!-- Hero Section -->
  <header
    class="bg-cover bg-center h-screen flex items-center justify-center"
    style="
      background-image: url('https://static.vecteezy.com/system/resources/thumbnails/039/830/455/small_2x/ai-generated-an-open-book-photo.jpg');
    ">
    <div class="text-center px-4 text-black">
      <h2 class="text-5xl font-extrabold mb-4">
        Welcome to the Book Management System
      </h2>
      <p class="text-lg mb-6">
        Effortlessly manage your book collection with ease and efficiency.
      </p>
    </div>
  </header>

  <!-- Features Section -->
  <section id="features" class="py-16 bg-gray-100">
    <div class="container mx-auto px-6">
      <h3 class="text-4xl font-bold text-center text-gray-800 mb-10">
        Features
      </h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Feature Card -->
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
          <h4 class="text-2xl font-semibold mb-4 text-blue-500">Add Books</h4>
          <p class="text-gray-600">
            Easily add books to your collection with just a few clicks.
          </p>
        </div>
        <!-- Feature Card -->
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
          <h4 class="text-2xl font-semibold mb-4 text-blue-500">View Books</h4>
          <p class="text-gray-600">
            Organize and view your entire book library in one place.
          </p>
        </div>
        <!-- Feature Card -->
        <div class="bg-white shadow-lg rounded-lg p-6 text-center">
          <h4 class="text-2xl font-semibold mb-4 text-blue-500">
            Search Books
          </h4>
          <p class="text-gray-600">
            Quickly search for any book using advanced filters.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
