<div class="container">
  <h1 class="display-4 text-center">
    <i class="fas fa-book-open text-purple-600 mt-6"></i>
    Add My<span class="text-purple-600">Book</span>
  </h1>
  <form
    [formGroup]="bookDetails"
    (ngSubmit)="onSubmit()"
    class="max-w-full mx-auto p-6 bg-white rounded-lg shadow-md space-y-6">
    <!-- Title Input -->
    <div class="mb-4">
      <label for="bookTitle" class="form-label font-semibold text-gray-700"
        >Book Title <span class="text-red-500">*</span></label
      >
      <input
        type="text"
        class="form-control border-gray-300 rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="bookTitle"
        placeholder="Enter book title"
        formControlName="title" />
      <div class="text-danger">
        @if(bookDetails.controls['title'].errors?.['required'] &&
        bookDetails.controls['title'].touched){
        <span>Title is Required</span>
        }
      </div>
    </div>

    <!-- Author Input -->
    <div class="mb-4">
      <label for="bookAuthor" class="form-label font-semibold text-gray-700"
        >Author <span class="text-red-500">*</span></label
      >
      <input
        type="text"
        class="form-control border-gray-300 rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="bookAuthor"
        placeholder="Enter author name"
        formControlName="author" />
      <div class="text-danger">
        @if(bookDetails.controls['author'].errors?.['required'] &&
        bookDetails.controls['author'].touched){
        <span>Author is Required</span>
        }
      </div>
    </div>

    <!-- ISBN Input -->
    <div class="mb-4">
      <label for="bookISBN" class="form-label font-semibold text-gray-700"
        >ISBN <span class="text-red-500">*</span></label
      >
      <input
        type="text"
        class="form-control border-gray-300 rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="bookISBN"
        placeholder="Enter ISBN number"
        formControlName="isbn" />
      @if( bookDetails.controls['isbn'].touched){
      <div class="text-danger">
        @if(bookDetails.controls['isbn'].errors?.['required']){
        <span>Isbn is Required</span>
        }@if(bookDetails.controls['isbn'].errors?.['minlength']){
        <span>Minimum length is 4</span>
        }
      </div>
      }
    </div>

    <!-- Publish Date Input -->
    <div class="mb-4">
      <label for="publishDate" class="form-label font-semibold text-gray-700"
        >Publish Date <span class="text-red-500">*</span></label
      >
      <input
        type="date"
        class="form-control border-gray-300 rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="publishDate"
        formControlName="publishDate" />
      <div class="text-danger">
        @if(bookDetails.controls['publishDate'].errors?.['required'] &&
        bookDetails.controls['publishDate'].touched){
        <span>PublishDate is Required</span>
        }
      </div>
    </div>

    <!-- Category Dropdown -->
    <div class="mb-4">
      <label for="bookCategory" class="form-label font-semibold text-gray-700"
        >Category <span class="text-red-500">*</span></label
      >
      <select
        class="border border-blck rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="bookCategory"
        formControlName="category">
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <!-- Price Input -->
    <div class="mb-4">
      <label for="bookPrice" class="form-label font-semibold text-gray-700"
        >Price <span class="text-red-500">*</span></label
      >
      <input
        type="number"
        class="form-control border-gray-300 rounded-md shadow-sm p-3 w-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
        id="bookPrice"
        placeholder="Enter book price"
        formControlName="price" />
      @if(bookDetails.controls['price'].touched){
      <div class="text-danger">
        @if(bookDetails.controls['price'].errors?.['required'] ){
        <span>Price is Required</span>
        }@if(bookDetails.controls['price'].errors?.['min'] ){
        <span>Price always positive</span>
        }
      </div>
      }
    </div>

    <!-- Submit Button -->
    <div class="mt-6">
      <button
        type="submit"
        class="btn w-full text-white font-semibold py-3 rounded-md shadow-md bg-gradient-to-r from-blue-400 to-purple-600 hover:from-blue-500 hover:to-purple-700 focus:ring-2 focus:ring-blue-500"
        [disabled]="!bookDetails.valid">
        Add Book
      </button>
    </div>
  </form>
</div>
